@charset "UTF-8";

header{
    position: fixed;
}

.legordul{
    position: relative;
    
}
.le_li1{
    position: absolute;
    text-decoration: none;

}
.le_li2{
    position: absolute;
    text-decoration: none;
    top: 30px;

}
.kint_nav_ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.kint_nav_ul li{
    text-decoration: none;
}

.legordul_ul{
    visibility: hidden;
}
nav ul li{
    cursor: pointer;
}
.legordul:hover .legordul_ul{
    visibility: visible;
}

#kep_1{
background-image: ;
}

#kep_2{

}
#kep_3{

}


.tartalom_art .kicsikep{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
}
.nagykep{
    background-image: url(kepek/_DSC5273.jpeg);
}
#kep_1:hover .nagykep{
    background-image: url(kepek/_DSC5273.jpeg);
}
#kep_2:hover .nagykep{
    background-image: url(kepek/_DSC5278.jpeg);
}
#kep_3:hover .nagykep{
    background-image: url(kepek/_DSC5357.jpeg);
}